<header class="title">
    <a href="/"><i class="fa {{ site.fa-logo }} fa-lg"></i><span>{{ site.title }}</span></a>
</header>

<nav class="wrapper {% if page.featured == true %} featured {% endif %} {% if site.theme_always_show_nav == true %} alwaysshow {% endif %} ">
    <ul>       
         <li><a target="_blank" href="/" >Home</a></li>
         <!--
        {% for page in site.pages %}
            {% if page.title %}<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>{% endif %}
        {% endfor %}
        -->
         <li><a target="_blank" href="https://bitsharestalk.org" >Forum</a></li>
         <li><a target="_blank" href="/all" >Index</a></li>
         <li><a target="_blank" href="/about" >About</a></li>
         <li>
           <script>
                 var BTSW = window.BTSW || {};
      (function () {
                 var script = document.createElement('script');
                           script.type = 'text/javascript';
                                     script.async = true;
                                               script.src = 'http://faucet.bitshares.org/widgets/1/w.js?ref='+encodeURIComponent(document.referrer);
                                                         var entry = document.getElementsByTagName('script')[0];
                                                                   entry.parentNode.insertBefore(script, entry);
                                                                         }());
  </script>
         </li>
    </ul>
    
</nav>
