
<div class="featured-post" >
<div><!-- class="profile {% if page.featured == true %} featured {% endif %}"> -->
   {% if page.author_image %}
      <img src="{{ page.author_image }}" class="profileimage" alt="user">
   {% else %}
      {% if site.author_image != "" %}<img src="{{ site.author_image }}" class="profileimage" alt="user">{% endif %}
   {% endif %}

   {% if page.author %} 
      <h4>{{ page.author }}</h4>
   {% else %}
      <h4>{{ site.author_name }}</h4>
   {% endif %}

   {% if page.author_bio %} 
      <p>{{ page.author_bio }}</p>
      <hr>
   {% else %}
   <p>{{ site.author_bio }}</p>
      <hr>
      {% endif %}
</div>


<aside class="mobile-sidebar">
<center>
<a href="http://www.amazon.com/gp/product/B00QUIWHR0/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00QUIWHR0&linkCode=as2&tag=bytesblog-20&linkId=CIIMS7ERLVW6BJTS"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00QUIWHR0&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=bytesblog-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=bytesblog-20&l=as2&o=1&a=B00QUIWHR0" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</center>


<h2>Featured posts</h2> 
<ul style="list-style-type: none; margin: 0px;">
{% for post in site.posts %}
    {% if post.featured == true %}
      {% capture count %}{{ count | plus: '4' }}{% endcapture %}
    
        <li style="margin-left: -30px;"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} </a></li>
    
  {% endif %}
{% endfor %}
</ul>
</div>
</aside>