---
layout: default
---

<div class="index">
    <div class="wrapper">
        <h1 class="right">{{ page.title }}</h1>
    </div>
</div>



<div id="cover" class="cover {% if page.featured == true %} featured {% endif %}">
    <div class="background" style="background-image:url('{{ page.banner_image }}');"></div>
    <header class="wrapper" style="float:left;">
 <!--       <h2>
        	{% for category in page.categories %}
				{{ category }} 
          	{% endfor %}
        </h2>
-->
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
        <span>
            Posted by <strong>{% if page.author %}{{ page.author }}{% else %}{{ site.author_name }}{% endif %}</strong>
                on <i class="fa fa-clock-o"></i> <span class="time" ><time datetime="{{ page.date| date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time></span>.
        </span>
    </header>
    <i class="fa fa-chevron-down movedown"></i>
</div>
<center>
<table border=0>
<tr><td align="center">

</td><td></td>
<tr>
<td>

<section class="posts wrapper">
    <article class="post {% if page.featured == true %} featured {% endif %}">
        
        <header>
            <div class="feature"><span>Featured</span><i class="fa fa-bookmark fa-lg"></i></div>
<!--            <h2>
            	{% for category in page.categories %}
					{{ category }} 
          		{% endfor %}
            </h2>
-->
            <h1 id="posttitle"><a href="#">{{ page.title }}</a></h1>
            <span>
                Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.author_name }}{% endif %}
                on <i class="fa fa-clock-o"></i> <time datetime="{{ page.date| date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time>.
            </span>
        </header>

        <section class="postbody">
            {{ content }}
        </section>

    <footer>
    
               <ul class="share left">
                   <li><a href="http://www.reddit.com/submit?url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}" onclick="window.open(this.href, 'reddit-share', 'width=550,height=235');return false;" class="smallbutton lightgray"><i class="fa fa-reddit"></i>Reddit</a></li>
                   <li><a href="http://twitter.com/share?text={{ page.title }}&url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" class="smallbutton lightgray"><i class="fa fa-twitter"></i>Twitter</a></li>
                   <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="smallbutton lightgray"><i class="fa fa-facebook"></i>Facebook</a></li>
                                    <li><a href="{{ site.url }}/feed.xml"  class="smallbutton lightgray"><i class="fa fa-rss"></i>RSS feed</a></li>
                   
                   <ul>
                   
                    </ul>
               </ul>
           </footer>
    
<a href="{% post_url 2015-01-10-Recommended-Reading %}"><h2 style="display:inline">Recommended by Bytemaster</h2> &nbsp; &nbsp; &nbsp; (see more...)</a>
<center>
<a href="http://www.amazon.com/gp/product/B008T2CJ9Q/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B008T2CJ9Q&linkCode=as2&tag=bytesblog-20&linkId=SZMLMJJUP75Y3TKJ"><img style="float:left; margin-right:25px" border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B008T2CJ9Q&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=bytesblog-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=bytesblog-20&l=as2&o=1&a=B008T2CJ9Q" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
<a href="http://www.amazon.com/gp/product/1401922767/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1401922767&linkCode=as2&tag=bytesblog-20&linkId=UJ45PEV4VOCQMAHT"><img style="float:left;margin-right:25px" border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1401922767&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=bytesblog-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=bytesblog-20&l=as2&o=1&a=1401922767" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
<a href="http://www.amazon.com/gp/product/1577314808/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1577314808&linkCode=as2&tag=bytesblog-20&linkId=CDOZKF7GJH22CZFW"><img style="float:left; margin-right:25px" border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1577314808&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=bytesblog-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=bytesblog-20&l=as2&o=1&a=1577314808" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
<a href="http://www.amazon.com/gp/product/B007TA55SG/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B007TA55SG&linkCode=as2&tag=bytesblog-20&linkId=VFJVO2DXDGSOOKGM"><img style="float:left;margin-right:25px" border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B007TA55SG&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=bytesblog-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=bytesblog-20&l=as2&o=1&a=B007TA55SG" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
<a href="http://www.amazon.com/gp/product/0988749203/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0988749203&linkCode=as2&tag=bytesblog-20&linkId=UCAPSKUR4K5CUOHQ"><img style="float:left;margin-right:25px" border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0988749203&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=bytesblog-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=bytesblog-20&l=as2&o=1&a=0988749203" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
<a href="http://www.amazon.com/gp/product/061512299X/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=061512299X&linkCode=as2&tag=bytesblog-20&linkId=IHMCKMONB6MF23BD"><img style="float:left;margin-right:25px" border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=061512299X&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=bytesblog-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=bytesblog-20&l=as2&o=1&a=061512299X" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</center>
<br/>

        {% if page.comments %}
        <div class="comments">
            <a href="javascript:;" class="readmore smallbutton blue"><i class="fa fa-comments"></i>View Comments...</a>
            <div id="disqus_thread"></div>
            <div id="g-comments"></div>
        </div>
        {% endif %}


    </article>

</section>
</td>
<td width=40px>&nbsp;</td>
<td class="test" width="300px" valign="top" style="padding-top:100px;">
    {% include right_sidebar.html %}
</td>
</tr>
<tr>
<td class="test2">{% include footer_sidebar.html %}</td>
</tr>
</table></center>

 

 

